// :host {
//   margin-left: -5px;
//   margin-right: -5px;
//   margin-top: -5px;
//   display: block;
// }
// .mat-card-top {
//   margin-top: -64px;
// }
// [hidden] {
//   display: none !important;
// }

// ::ng-deep .mat-input-underline {
//     display: none;
// }
.only-for-print{
    display: none !important;
}
.pionter{
  cursor: pointer;
}

.table-row-border{
	border-bottom: 1px dashed #c9d0df;
}

.product-grid-show{
  max-height: 250px;
  overflow-y: auto;
}
.product-width{
  min-width: 150px;
}
@media print
{
  .table-row-border{
		border-bottom: 1px #c9d0df;
  }
  
    #pager,
    form,
    .no-print
    {
        display: none !important;
        height: 0;
    }


    .no-print, .pace-progress, .no-print *{
        display: none !important;
        height: 0;
    }

    .only-for-print{
        display: block !important;
    }

      #section-to-print, #section-to-print * {
        visibility: visible;
      }
      #section-to-print {
        width: 100% !important;
        position: absolute;
        left: 0;
        top: 0;
      }
}