<mat-card>
  <mat-card-content>
    <div class="mb-1">
      <h1  class="mt-0 only-for-print" align="center"> <strong>{{'BUYGOODS' | translate }} {{refFacture}} </strong></h1>
       </div>

    <div fxLayout="row" fxLayoutWrap="wrap">
      <div fxFlex.gt-xs="50" fxFlex="100">
        <div fxLayout="column">
          
          <span>{{'DATE' | translate }}: {{todayDate}}</span>
          
		
        </div>
		
      </div>
      <div fxFlex.gt-xs="50" fxFlex="100" class="text-sm-right text-xs-left">
        <h4 class="my-0">{{socite.libelle}}</h4>
        <div fxLayout="column">
        <span>{{'Tel' | translate }}{{socite.tel}}</span>
        <span>{{'Adresse' | translate }}{{socite.adresse}}</span>
	     <span>{{socite.email}}</span>
      </div>
      </div>
    </div>
  </mat-card-content>
   <div class="no-print" *ngIf="modifiedFact">
      <mat-card-content>
        <cart-auto (changeProduct)="getNotification($event)" (gridShowHide)="gridShowHide($event)"></cart-auto>
      </mat-card-content>
	  </div>
  <mat-card-content class="pl-0 pr-0 no-print">
    <ngx-datatable
      class="material"
      [rows]="products"
      [columnMode]="'flex'"
      [headerHeight]="50"
      [footerHeight]="0"
      [rowHeight]="'auto'">
      <ngx-datatable-column name="{{'labelPrdG' | translate }}" [flexGrow]="4">
            <ng-template ngx-datatable-cell-template let-row="row">
              <strong>{{row.libelle}}</strong>
              <br/>
              <span class="mat-text-muted">{{row.refProduct}}</span>
            </ng-template>
          </ngx-datatable-column>
     <ngx-datatable-column name="{{'lable.quantity' | translate }}" [flexGrow]="1">
            <ng-template ngx-datatable-cell-template let-row="row">
              <strong>
                <input  [(ngModel)]="row.nbCartons"  style="width:50px;" (keypress)="onlyNumberKey($event)">
              </strong>
            </ng-template>
          </ngx-datatable-column>
		<ngx-datatable-column name="{{'Poids' | translate }}" [flexGrow]="1">
            <ng-template ngx-datatable-cell-template let-row="row">              
			    <input  [readonly]="true" [(ngModel)]="row.poids"  style="width:50px;" (keypress)="onlyNumberKey($event)">
			
            </ng-template>
      </ngx-datatable-column>
       
       <ngx-datatable-column name="{{'TOTAL' | translate }}" [flexGrow]="1">
            <ng-template ngx-datatable-cell-template let-row="row">
              <strong>{{ (row.poids * row.nbCartons) }}</strong>
            </ng-template>
          </ngx-datatable-column>
		   <ngx-datatable-column name="" [flexGrow]="2">
            <ng-template ngx-datatable-cell-template let-row="row">
              <strong>
                <button mat-raised-button color="primary" (click)="delete(row)">
                  <mat-icon>delete</mat-icon>
                </button>
              </strong>
            </ng-template>
          </ngx-datatable-column>
    </ngx-datatable>
  </mat-card-content>
  <mat-card-content class="only-for-print">
    <ngx-datatable
      class="material"
      [rows]="products"
      [columnMode]="'flex'"
      [headerHeight]="50"
      [footerHeight]="0"
      [rowHeight]="'auto'">
      <ngx-datatable-column name="{{'labelPrdG' | translate }}" >
            <ng-template ngx-datatable-cell-template let-row="row">
              <strong>{{row.libelle}}</strong>
              <br/>
              <span class="mat-text-muted">{{row.refProduct}}</span>
            </ng-template>
          </ngx-datatable-column>
     <ngx-datatable-column name="{{'prixSell' | translate }}"  >
            <ng-template ngx-datatable-cell-template let-row="row">
			
			 <span class="mat-text-muted">{{row.poids}}</span>
              
			         </ng-template>
          </ngx-datatable-column>
     <ngx-datatable-column name="{{'lable.quantity' | translate }}" >
            <ng-template ngx-datatable-cell-template let-row="row">
              <strong>
			  <span class="mat-text-muted">{{row.nbCartons}}</span>
               
              </strong>
            </ng-template>
          </ngx-datatable-column>
       <ngx-datatable-column name="{{'TOTAL' | translate }}" >
            <ng-template ngx-datatable-cell-template let-row="row">
              <strong>{{ (row.poids * row.nbCartons) }}</strong>
            </ng-template>
          </ngx-datatable-column>
		  
    </ngx-datatable>
  </mat-card-content>

  <mat-card-content>
    <div  fxLayout="row" fxLayoutWrap="wrap">
      <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100" class="mt-1 mb-1" *ngIf="tax >0">
        <h6 class="text-uppercase text-md ma-0 text-bold">Subtotal</h6>
        <h1 class="ma-0">{{getSubTotal() | currency:' ':'symbol':'1.2-2'}}</h1>
      </div>
      <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100" class="mt-1 mb-1 text-sm-right text-md-left" *ngIf="tax >0">
        <h6 class="text-uppercase text-md ma-0 text-bold">Tax (15%)</h6>
        <h1 class="ma-0">{{getCalculatedTax() | currency:' ':'symbol':'1.2-2'}}</h1>
      </div>
      <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100" class="mt-1 mb-1" *ngIf="tax >0">
        <h6 class="text-uppercase text-md ma-0 text-bold">Discount</h6>
        <h1 class="ma-0">0.00</h1>
      </div>
      <div fxFlex.gt-sm="25" fxFlex.gt-xs="50" fxFlex="100" class="mt-1 mb-1 text-xs-left text-sm-right">
        <h6 class="text-uppercase text-sm ma-0 text-bold">{{'TOTAL' | translate }}</h6>
        <h1 class="ma-0 mat-text-accent">{{ getTotal() | currency:' ':'symbol':'1.2-2'}}</h1>
      </div>
    </div>
  </mat-card-content>
  <hr>

  <mat-card-actions class="pr-2 no-print">
        <button mat-button mat-raised-button color="primary" (click)="signUp()"  [disabled]="submitBtnDisaple" *ngIf="modifiedFact"  >{{'SAVE' | translate}}</button>
		<button mat-button mat-raised-button color="primary" (click)="print()"  [disabled]="submitBtnDisaple"> {{'print' | translate}}</button>
        <span class="mb-1 no-print" >
			
			 <mat-checkbox [(ngModel)]="livred">{{'lable.livred' | translate }}</mat-checkbox> 
       
		</span>
		<!-- routerLink="/product/bill-print" -->
      </mat-card-actions>
</mat-card>