<mat-card>
  <mat-card-title align="center">{{'ETATCOMPTE' | translate }}</mat-card-title>
  
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="start center" class="mb-2" fxLayoutWrap="wrap" id="print-section" >
      <div fxFlex.gt-sm="100" fxFlex="100">
        
               <mat-form-field>
               <input matInput  mdInput  placeholder="{{'ACCOUNTNUM' | translate }}" [matAutocomplete]="reactiveAuto" [formControl]="stateCtrl">
               </mat-form-field> 
		    <small *ngIf="showsold"> &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;{{message}} &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</small>
		  
		  
		  
		  <mat-form-field>
  <input matInput [matDatepicker]="myDatepickerDt"  placeholder=" {{'DATE2' | translate }}" [(ngModel)]="from" (ngModelChange)="setMomentDt2($event)">
  <mat-datepicker-toggle matSuffix [for]="myDatepickerDt"></mat-datepicker-toggle>
  <mat-datepicker #myDatepickerDt ></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <input matInput [matDatepicker]="myDatepickerDt1"  placeholder=" {{'DATE1' | translate }}" [(ngModel)]="to" (ngModelChange)="setMomentDt1($event)">
  <mat-datepicker-toggle matSuffix [for]="myDatepickerDt1"></mat-datepicker-toggle>
  <mat-datepicker #myDatepickerDt1></mat-datepicker>
</mat-form-field>
	
     <button mat-button mat-raised-button color="primary" (click)="doSolde()" *ngIf="showsold"> {{'soldeCompte' | translate}}</button>
		
		  
      </div>
    
    </div>
	<div>
    <mat-card fxFlex>
                <mat-card-actions   class="pr-2 no-print">
                    <button mat-button mat-raised-button color="primary" (click)="signUp()" *ngIf="modePrint">{{'print' | translate}}</button>
                    <button mat-button mat-raised-button color="primary" (click)="modePrint=true" *ngIf="!modePrint"> {{'open.print' | translate}}</button>
					 <button mat-button mat-raised-button color="primary" (click)="modePrint=false"*ngIf="modePrint">{{'retour' | translate}}</button>
                </mat-card-actions>
            </mat-card>
    </div>

    <mat-autocomplete #reactiveAuto="matAutocomplete" [displayWith]="displayFn" >
      <mat-option *ngFor="let state of reactiveAccounts | async" [value]="state">
        <span>{{ state.libelle }}</span>
        <span> ({{state.numAccount}}) </span>
      </mat-option>
    </mat-autocomplete>
	<mat-card id="print-section" *ngIf="!modePrint">
      <mat-tab-group >
        <mat-tab >
		 <ngx-datatable
  class="material"
  [rows]="rows"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [offset]="offset"
  [limit]="limit"
  >
    <ngx-datatable-column name="{{'DATE' | translate }}" prop="dateOperation" > 
   <ng-template let-value="value" ngx-datatable-cell-template>
		   {{value  | date: 'dd/MM/yyyy'}}
          </ng-template> 
   </ngx-datatable-column>
   <ngx-datatable-column name="{{'DETAIL' | translate }}" prop="remarque" ></ngx-datatable-column>
   <ngx-datatable-column name="{{'CREDIT' | translate }}" prop="montantCredit" ></ngx-datatable-column> 
   <ngx-datatable-column name="{{'DEBIT' | translate }}" prop="montantDebit" ></ngx-datatable-column>    
   </ngx-datatable>
	</mat-tab >
      </mat-tab-group >
	</mat-card>
  
  
  	<mat-card id="print-section" *ngIf="modePrint">
      <mat-tab-group >
        <mat-tab >
		 <ngx-datatable
  class="material"
  [rows]="rowsPr"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  
  >
    <ngx-datatable-column name="{{'DATE' | translate }}" prop="dateOperation" > 
   <ng-template let-value="value" ngx-datatable-cell-template>
		   {{value  | date: 'dd/MM/yyyy'}}
          </ng-template> 
   </ngx-datatable-column>
   <ngx-datatable-column name="{{'DETAIL' | translate }}" prop="remarque" ></ngx-datatable-column>
   <ngx-datatable-column name="{{'CREDIT' | translate }}" prop="montantCredit" ></ngx-datatable-column> 
   <ngx-datatable-column name="{{'DEBIT' | translate }}" prop="montantDebit" ></ngx-datatable-column>    
   </ngx-datatable>
	</mat-tab >
      </mat-tab-group >
	</mat-card>
  
 </mat-card-content>
</mat-card>